body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px solid #333;
  border-radius: 50%;
}

.hand {
  position: absolute;
  transform-origin: 50% 100%; /* 針の中心を下端中央に設定 */
  background-color: #333;
  transition: transform 0.5s cubic-bezier(0.4, 2.2, 0.2, 1);
  transform-style: preserve-3d; /* アンチエイリアスを適用 */
  backface-visibility: hidden; /* アンチエイリアスを適用 */
}

.hour-hand {
  width: 8px;
  height: 60px;
  top: 40px;
  left: 96px;
  transform: rot;
}

.minute-hand {
  width: 6px;
  height: 80px;
  top: 20px;
  left: 97px;
}

.second-hand {
  width: 2px;
  height: 90px;
  top: 10px;
  left: 99px;
  background-color: red;
}
